
<div class = "well">
	<div class = "row">
		<div class="col-xs-12">
			<form name = "surveyForm" ng-submit = "surveyForm.$valid && sendSurvey()" novalidate>
				</br>
			    <ol>			   		
				    <li ng-repeat = "question in survey.questions" ng-init = "number = $index" class ="darkGrey questionSize">
				      {{question.text}}<br>
				      <div ng-repeat = "answer in question.choices" class="darkGrey choiceSize">
				        <input type="radio" name="answer{{number+1}}"  ng-value = "answer._id" ng-disabled="!canVote" ng-model = "answers[number]" ng-required = "true" / > {{answer.text}}<br>
				      </div>
					  </br>
				    </li>
				</ol>
				<div class="col-xs-3 col-xs-offset-9 col-md-2 col-md-offset-10" ng-show = "canVote">
					<input type = "submit" class="btn btn-warning pull-right" ng-disabled = "!surveyForm.$valid" value = "Enviar"/>
				</div>
		    </form>
		</div>
	</div>
	
		
		<!--<div ng-show = "showTimer">
			<timer interval="1000" countdown="cntd">{{countdown}}</timer>
		</div>-->
	

	<div class = "row">
		
		<div class="col-xs-4 col-xs-offset-8 col-md-3 col-md-offset-9 ">	
			<div ng-show = "!canVote">		
				<button class = "btn btn-warning pull-right" ng-click="showPopup()">Participar</button>	
			</div>		
		</div>
		
	</div>
	<p>{{message}}</p>
	<p class ="timePhrase" style = "margin-bottom: 0px;">The survey will be closed at: {{survey.publishDate.endDate | date:'medium'}}</p>	
</div>


